.App{
  background-color: rgb(11, 42, 82);
}
.Main{
  display: flex ;
  /* justify-content: space-between; */
  margin: 10px 5px;
  flex-wrap: wrap;
  gap:5px; 
}
.Movie{
  background-color: rgb(203, 212, 212);
  border: 1px solid burlywood;
  padding: 10px;
  font: bolder;
text-align: center;

}
.btn{
  background-color: blueviolet;
  height: 40px;
  padding: 10px;
  margin: 10px;
  color: white ;
}
.main{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: azure;
  border: 1px solid black;
}


